.App {
  text-align: left;
  width: 33%; /* 화면의 1/3 너비 */
  margin: 0 auto; /* 중앙 정렬 */
}

ul {
  list-style: inside; /* bullet을 내부에 위치시킴 */
  padding: 0; /* 기본 패딩 제거 */
}

li {
  margin-left: 1em; /* 리스트 항목 왼쪽 여백 추가 */
}

.completed {
  text-decoration: line-through;
}

.task-title {
  margin-right: 10px; /* 오른쪽 마진 추가 */
}
